<div class="container mt-5">
  <h2>What's New</h2>
  <hr>
    <div class="col-12 d-flex">
      <div class="col-3">
        <img class="appliances" src="https://s.cdnshm.com/catalog/za/t/74067736/mecer-xpression-z140c-w-14-inch-notebook-pc-z140c-w.jpg">
        <div class="description">
          <p>Samsung Notebook <br> 2GB RAM, 16GB SSD - Silver</p>
          <span>from</span><strong>  $59.00</strong>
        </div>
      </div>
      <div class="col-3">
        <img class="appliances" src="https://www.vm-images.net/res/s_256/q_100/d052c1b2-c2c9-40fb-93f8-3587f06f2afd.jpg">
        <div class="description">
          <p>HP NoteBook <br> 4GB RAM, 32 GB eMMC Storage - Silver </p>
          <span>from</span><strong>  $59.00</strong>
        </div>
        <div class="colors d-flex">
            <ol><label class="black"></label></ol>
            <ol><label class="white"></label></ol>
            <ol><label class="silver"></label></ol>
        </div>
      </div>
      <div class="col-3">
        <img class="appliances" src="https://i-mobilestore.ru/wa-data/public/shop/products/84/81/8184/images/36045/36045.256x0.jpg">
        <div class="description">
          <p>Apple iPhone XS Max <br> 256GB (Renewed Premium) - Gray</p>
          <span>from</span><strong>  $59.00</strong>
        </div>
      </div>
      <div class="col">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/feature-banner-1_5050a224-50f4-423d-adfb-6ba291f1db21_970x.jpg?v=1616994148">
      </div>
    </div>
  </div>
