<div class="mt-5">
  <a href="#">
    <img class="w-100" src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/banner-custom-middle-1_ea59337b-c31d-4433-83d7-f0f2764ca227_1920x.jpg?v=1618802630">
  </a>
  <div class="d-flex justify-content-evenly mt-5">
    <h3>Shop by Categories</h3>
    <a href="#">Shop All</a>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-phone_1024x1024_crop_center.jpg?v=1616408588">
      </a>
      <p>Mobile Phones</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-lap_1024x1024_crop_center.jpg?v=1616408604">
      </a>
      <p>Laptops & Tablets</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-tivi_1024x1024_crop_center.jpg?v=1616410673">
      </a>
      <p>Televisions</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-pc_1024x1024_crop_center.jpg?v=1616410730">
      </a>
      <p>PCs & Accessories</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-audio_1024x1024_crop_center.jpg?v=1616410745">
      </a>
      <p>Audio & Video</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-game_1024x1024_crop_center.jpg?v=1616410761">
      </a>
      <p>Gaming</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-fridge_1024x1024_crop_center.jpg?v=1616410888">
      </a>
      <p>Home Appliances</p>
    </div>
    <div class="col text-center">
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-microwave_1024x1024_crop_center.jpg?v=1616410900">
      </a>
      <p>Kitchen Appliances</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-camera_1024x1024_crop_center.jpg?v=1616410914">
      </a>
      <p>Cameras</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-kettle_1024x1024_crop_center.jpg?v=1616410925">
      </a>
      <p>Consumables</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-smart_1024x1024_crop_center.jpg?v=1616410939">
      </a>
      <p>Smart Homes</p>
    </div>
    <div class="col text-center">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/icon-headphone_1024x1024_crop_center.jpg?v=1616410951">
      </a>
      <p>Accessories</p>
    </div>
  </div>
</div>

