div {
  background-color: whitesmoke;
}


.col {
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
  img {
    margin-top: 10px;
    width: 100%;
    transition: 0.5s all ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

#secPic img {
  max-width: 800px;
  max-height: 400px;
}

