<div>
  <div class="container">
    <div class="row">
        <div class="col" >
          <img src="https://cdn.vox-cdn.com/thumbor/Vgy3FfpWvBD32CYZrcNq6itGqnw=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/20034840/ishMfuW.png">
        </div>
        <div class="col">
          <img src="https://www.montblanc.com/variants/images/19971654706731692/A/w2500.jpg">
        </div>
        <div class="col">
          <img src="http://mobileimages.lowes.com/product/converted/190873/190873001881_16547124.jpg?size=pdhi">
        </div>
      </div>
  </div>
  <div class="container" id="secPic">
    <div class="row">
      <div class="col">
        <img src="https://s.yimg.com/uu/api/res/1.2/JvLaFJ_3Fm.ztxwG6hVhQA--~B/aD0xMTA0O3c9MTYwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bgr_208/d4ba43afa93fde09177bcf09941a0510">
      </div>
      <div class="col">
        <img src="https://www.notebookcheck-ru.com/fileadmin/Notebooks/News/_nc3/5dd71716fd9db2376956d172.jpg">
      </div>
    </div>
  </div>
</div>
