<div id="home" class="mt-5">
  <div class="container">
    <div class="col-12 d-flex p-5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <i class="fas fa-star"></i>
              </div>
              <h5 class="text-center">QUALITY AND SAVING</h5>
              <p>Comprehensive Quality control <br> and affordable prices</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <i class="fas fa-warehouse"></i>
              </div>
              <h5 class="text-center">GLOBAL WAREHOUSE</h5>
              <p>37 overseas warehouses</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <h5 class="text-center">FAST SHIPPING</h5>
              <p>Fast and convenient door to <br> door delivery</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <i class="fas fa-shield-alt"></i>
              </div>
              <h5 class="text-center">PAYMENT SECURITY</h5>
              <p>More than 10 different secure <br> payment methods</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4 mt-3">
                <i class="fas fa-question-circle"></i>
              </div>
              <h5 class="text-center">HAVE QUESTIONS?</h5>
              <p>24/7 Customer Service - We're <br> here and happy to help</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
