@import "../../../assets/styles/variables";

nav {
  background-color: $main-color !important;

  .navbar-nav a {
    color: #fff;
  }
}

#content {
  color: white;
  font-size: 14px;
}
 img {
  max-height: 20px;
  max-width: 20px;
   border-radius: 6px;
}

i {
color: $secondary-color;
  font-size: 16px;
}


